{% extends "layout/basic.html" %}


{% block title %}{{ current_rubric }}{% endblock %}

{% block content %}
    {% for bb in bbs %}
    <div class="{%"></div>
    <div>
        {% url 'bboard:detail' bb.pk as detail_url %}
        <h2>
           {# <a href="{% url 'bboard:detail' bb.pk %}">{{ bb.title_and_price }}</a> #}
            <a href="{{ detail_url }}">{{ bb.title_and_price }}</a>
        </h2>
        {% endif %}
        <p>{{ bb.content }}</p>

        {% ifchanged %}
            <p><a href="{% url 'bboard:by_rubric" bb.rubric.pk %}>
                {{ bb.rubric.name }}</a></p>
        {% endifchanged %}

        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        <p><a href="{{ detail_url }}">{{ Подробнее }}</a></p>


    </div>
    {% empty %}
        <h2>Объявлений нет</h2>
    {% empty %}
    {% endfor %}
{% endblock %}