{% extends "layout/basic.html" %}



{% block title %}Поиск объявления{% endblock %}

{% block content %}
<h2>Поиск объявления</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Найти</button>
    </form>

    {% for bb in bbs %}
    <div>
        {% url 'bboard:detail' bb.pk as detail_url %}
        <h2>
            <a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title }}</a>
        </h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        <p><a href="{{ detail_url }}">Подробнее</a></p>
    </div>
    {% empty %}
        <h2>Объявлений нет</h2>
    {% endfor %}

{% endblock %}